.loginPage {
	text-align: center;
	padding-top: 30px;

	.divider {
		font-size: 1em;
		font-weight: 800;
		color: black;
		text-transform: uppercase;
		padding: 12px 20px 10px;
	}

	+.accountButton.login {
		display: none;
	}
}