@import 'naturalcrit/styles/core.less';


* {
	box-sizing: border-box;
}

a {
	cursor:pointer;
}

b {
	font-weight: bold;
}

small {
	font-size  : 12px;
	font-style : italic;
}

.logo {
	font-size: 4em;
	color: black;
	text-decoration: none;

	svg {
		height: .9em;
		margin-right: .2em;
		fill: black;
	}

	.name {
		font-family: 'CodeLight';

		.crit {
			font-family: 'CodeBold';
		}
	}
}

.fa.red {
	color: @red;
}

.fa.green {
	color: @green;
}

button {
	font-family: 'CodeBold';
	letter-spacing: 1px;
	padding: 12px 20px;
	margin: 10px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;

	&:hover {
		background-color: #222;
	}

	&:enabled {
		cursor: pointer;
	}

	&:disabled {
		background-color: #444;
		cursor: not-allowed;
	}

	&:is(.red, .green, .orange):disabled {
		filter: saturate(40%);
	}

	&.red {
		background-color: @red;
	}

	&.green {
		background-color: @green;
	}

	&.orange {
		background-color: @orange;
	}
}

.accountButton {
	font-family: 'CodeBold';
	letter-spacing: 2px;
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;

	&:hover {
		background-color: #222;
	}

	a {
		display: block;
		padding: 15px 30px;
		text-decoration: none;
		color: white;
	}
}