.accountPage {
    width: 100%;

    .details {
        margin-inline:auto;
        width: 50%;
        margin-top:20vh;
        font-size:15pt;
        text-align: center;


        h1 {
            font-size: 30pt;
            font-family: CodeBold;
        }
    }
}