
@import "shared/naturalcrit/styles/core.less";
.badges{
	width  : 800px;
	margin : auto;
	h1{
		margin-bottom : 10px;
		padding-top   : 30px;
		font-family   : 'Calluna';
		font-size     : 2.5em;
		font-weight   : 800;
		text-align    : center;
	}
	&>p{
		margin-bottom : 20px;
		font-size     : 0.8em;
		text-align    : center;
		//font-family: 'Calluna';
	}
	.content{
		display         : flex;
		padding-top     : 50px;
		justify-content : space-around;
		.badgeRender, .controls{
			padding : 0px 50px;
		}
	}
	.credit{
		display: block;
		margin-top  : 50px;
		opacity     : 0.8;
		font-family : 'Calluna';
		font-size   : 0.8em;
		text-align  : center;
		text-decoration: none;
		color : inherit;
		cursor: pointer;
		line-height: 1.2em;

		&:hover{
			text-decoration: underline;
		}
	}
}

.logo {
	position:fixed;
	top:10px;
	left:10px;
	font-size: 2em;
	color: black;
	text-decoration: none;

	svg {
		height: .9em;
		margin-right: .2em;
		cursor: pointer;
		fill: black;
	}

	.name {
		font-family: 'CodeLight';

		.crit {
			font-family: 'CodeBold';
		}
	}
}

